body
{
    background-color: midnightblue;
}

.flex-container
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.flex-container>div
{
    width: 400px;
    height: 500px;
    overflow: auto;
    margin: 10px;
}

.flex-container>div>img
{
    width: 200px;
    margin: auto;
}

.card
{
    background-color: rgba(255,255,255,0.5);
    color: white;
}

.card>img
{
    padding-top: 5px;
    margin: auto;
}

li
{
    font-size: 1.2em;
}

header
{
    background-color: rgba(255,255,255,0.5);    
    text-align: center;
    height: max-content;
    width: max-content;
    padding: 20px;
    margin: auto;
    border: 2px ridge midnightblue;
    color: white;
}
