.container
{
    max-width: 98%;
    margin: 0 auto;
}

.row
{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    flex-wrap: nowrap;
}

.col-1
{
   flex: 1 0 8.33%;
}

.col-2
{
    flex: 2 0 16.66%;
}

.col-3
{
    flex: 3 0 25%;
}

.col-4
{
    flex: 4 0 33.33%;
}

.col-5
{
    flex: 5 0 41.66%;
}

.col-6
{
    flex: 6 0 50%;
}

.col-7
{
    flex: 7 0 58.33%;
}

.col-8
{
    flex: 8 0 66.66%;
}

.col-9
{
    flex: 9 0 75%;
}

.col-10
{
    flex: 10 0 83.33%;
}

.col-11
{
    flex: 11 0 91.66%;
}

.col-12
{
    flex: 12 0 100%;
}

.myDropdown
{
    display: none;
    position: absolute;
    min-width: 230px;
    padding: 10px;
    margin-top: -88px;
    margin-left: 220px;
    border-radius: 5px;
    z-index: 1;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .navBar > div
    {
      box-sizing: border-box;
      padding: 2px 10px;
    }

@media screen and (max-width: 700px) {
    .row
    {
        flex-direction: column;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
    {
        flex: 1 0 100%;
    }
    .myDropdown
    {
        margin: -15px 75px 0px 0px !important;
    }
}

@media screen and (max-width: 992px) {
    
}
